* {
	box-sizing: border-box;
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.container {
	padding-top: 88px;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	cursor: default;
	color: #1E2020;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
h1,
h2,
h3,
p,
aside {
	text-align: center;
}
.logo {
	float: left;
}
ul {
	list-style-type: none;
}
li {
	display: inline
}
a.button {
	text-decoration: none;
}
header {
	position: fixed;
	width: 100%;
	background-color: #fff;	
	top: 0px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	z-index: 999999;
}
div.logo {
	padding-left: 25px;
}
.navigation {
	text-align: right;
	height: 80px;
	line-height: 80px;
	float: right;
	padding-right: 25px;

}
.navigation li a {
	text-decoration: none;
	color: #1E2020;
	padding: 0 0 0 30px;
	font-weight: 300;
}
#thespace .wrapper {
	width: 70%;
}

.hero {
	background: url(../images/agnescourtyard.jpg) center center no-repeat;
	background-size: cover;
	clear: both;
	padding: 3%;
 	height: 650px;
}
.tour-cta {
	background-color: #ff9620;
	padding: 10px 45px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	font-weight: 300;
	font-size: 24px;

}
.blurb {
	color: white;
	max-width: 890px;
}
div.blurb h1 {
	font-size: 28px;
	font-weight: 100;
}
div.blurb p {
	font-size: 40px;
	margin: 20px 0;
}
.flex,
footer {
	display: flex;
  	flex-direction: column;
 	justify-content: center;
}
/*.amenities,
.pricing,
.location,*/
.contact {
	height: 550px;
	border: 1px solid #000;
}
.about {
	height: 525px;
}
/*.amenities {
	background-color: #992222;
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 375px;

}*/
/*.amenities,
.autoplay {*/
	/*background-color: #992222;*/
	/*height: 375px;
	display: flex;
  	flex-direction: column;
 	justify-content: center;
}*/
/*.booth {
	background-color: #992222;
	height: 375px;
}
.kitchen {
	background-color: #448E44;
	height: 375px;
}*/
#red {
	background-color: #992222;
}
#green {
	background-color: #448E44;
}
#blue {
	background-color: #4572B4;
}
#red,
#green,
#blue {
	height: 375px;
	display: flex;
  	flex-direction: column;
 	justify-content: center;
}


.location {
	background-color: #2B2B2B;
	height: 600px;
	color: #fff;
	font-weight: 200;	
}
.heading {
	font-size: 34px;
}
iframe {
	margin-top: 20px;
}
div aside {
	font-size: 34px;
	font-weight: 400;
	color: #1E2020;
}
div aside .intro-blurb {
	color: #fff;
	font-weight: 400;
	font-size: 34px;
}
.pricing {
	height: 500px;
}
.full-time,
.part-time,
.daypass {
	float: left;
	width: 33%;
	background-size: cover;
	height: 350px;
	display: flex;
  	flex-direction: column;
 	justify-content: center;
 	padding: 3%;
 	position: relative;
}
.full-time {
	background: url(../images/fixed.jpg) center center no-repeat;
	border: 10px solid #fff;
}
.part-time {
	background: url(../images/shared2.jpg) center center no-repeat;
	border: 10px solid #fff;
}
.daypass {
	background: url(../images/daily.jpg) center center no-repeat;
	border: 10px solid #fff;
}
aside h2 {
	font-size: 32px;
	color: #fff;
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100%;

}
aside p,
aside h3 {
	font-size: 16px;
	font-weight: 100;
	color: #fff;
}
aside p.price {
	font-size: 47px;
	/*color: #992222;*/	
	color: #ff9620;
	font-weight: 300;
}
div.cta span {
	font-size: 16px;
}
div.cta h1 {
	color: #ff9620;
	font-weight: 400;
	font-size: 32px;
}
aside a {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	cursor: pointer;
}
aside div {
	background-color: rgba(30, 32, 32, .75);
	padding: 2%;
	/*display: none;*/
	position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}
footer {
	height: 100px;
}
#mobile-footer {
	display: none;
}

section.signup-form {
	background-color: #EAEAEA;
	padding: 25px 0;
	display: none;
	height: auto;
}
.mainLabel {
  width: 30%;
  float: left;
  clear: left;
  font-family: inherit;
}
.mainInput,
.membership-select {
  width: 100%;
  float: left;
  font-weight: 100;
  clear: left;
  line-height: 40px;
  margin: 10px;
  text-indent: 6px;
  border-radius: 2px;
  border: 1px solid #969899;
}
div #form {
	width: 40%;
}
.continue {
  float: left;
  clear: left;
  width: 100%;
  cursor: pointer;

}
input.continue {
  border: none;
  background: #ff9620;
  padding: 30px;
  text-align: center;
  border-radius: 2px;
  font-weight: 300;
  padding: 12px 0;
  width: 100%;
  font-size: 21px;
  text-align: center;
  display: block;
  margin-top: 15px;
  color: #fff;
  margin: 10px;
}
#businessField {
	height: 150px;
}
.mainLabel,
.mainInput,
.membership-select {
  font-family: Lato, sans-serif;
  font-size: 20px;
}
.left-column {
	float: left;
	width: 48%;
}
.right-column {
	float: right;
	width: 48%;
}










@media screen and (max-width:1080px) and (min-width: 768px){
	nav{

		font-size: 18px;
	}
}
@media screen and (max-width: 768px){
	nav{
		font-size: 12px;
		display: none;
	}
	.hamburger-link {
		cursor: pointer;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 40px;
		right: 25px;
	}
	.hamburger,
	.hamburger::after,
	.hamburger::before {
		content: '';
		position: absolute;
		border-top: 5px solid #992222;
		width: 30px;
		right: 0;
	}
	.hamburger::after {
		top: -14px;
	}
	.hamburger::before {
		top: 6px;
	}
	#mobile-footer {
		display: block;
	}
	#mobile-footer a {
		text-decoration: none;
		color: #000;
		padding: 10px;
		display: block;
		border-bottom: 1px solid #444;
		font-weight: 300;
	}
	.part-time,
	.full-time,
	.daypass {
		width: 100%;
		float: none;
	}
	.pricing,
	.foot,
	footer {
		float: none;
		height: auto;
	}
	iframe {
		width: 100%;
	}

}
































